@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<body style="background-image: linear-gradient(to right top, #d2b68c, #cfac77, #cba261, #c7984c, #c38e35, #cf832e, #dc762e, #e86633, #ff4c5b, #ff388b, #fd40c3, #d25ffb);">
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
       
          {

        <li>
            
            <form class="form-inline text-center" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <a><button type="submit" class="nav-link btn btn-link ">Logout</button></a>
                
            </form>
        </li>


        <p>



                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/NewDonation" title="New Donation"> <b>New Donation</b></a>
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/NewGoodsDonation" title="New Goods Donation"><b>New Goods Donation</b></a>
        </p>

        <p>
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Disaster" title="New Disaster"><b>New Disaster</b></a>
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/View" title="View"><b>View List</b></a>
        </p>

            <p>
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/AllocateFunds" title="Allocate Funds"><b>Allocate Funds</b></a>
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/AllocateGoods" title="Allocate Goods"><b>Allocate Goods</b></a>
               
            </p>

            <p>


                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/PurchaseGoods" title="Purchase Goods"><b>Purchase Goods</b></a>


            </p>
        <li class="nav-item">

            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Settings"><b>Account Settings</b></a>
            <a class="nav-link text-dark" asp-area="" asp-page="" title="Manage"><b>@User.Identity?.Name!</b> </a>


        </li>
    }
    else
    {
        <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register"><b>Register</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"><b>Login</b></a>
        </li>
    }
    

</ul>

</body>
