@{
    ViewData["Title"] = "Donations Page";
}

<body style="background-image: linear-gradient(to right top, #d2b68c, #cfac77, #cba261, #c7984c, #c38e35, #cf832e, #dc762e, #e86633, #ff4c5b, #ff388b, #fd40c3, #d25ffb);">

    <header class="text-center"> <h1>Donations Page</h1> </header>
<div class="text-center">
    

    <h2 class="display-4">Donations Page</h2>

    <p>Make A Donation</p>


    <p> For MONETARY donations, <a asp-area="Identity" asp-page="/Account/NewDonation">click here </a></p>



    <p> For GENERAL donations, <a asp-area="Identity" asp-page="/Account/NewGoodsDonation">click here </a></p>



    <p> To capture a disaster, <a asp-area="Identity" asp-page="/Account/Disaster">click here </a></p>



    <p>  To view a list of all incoming monetary donations, all incoming goods donations, and all disasters, <a asp-area="Identity" asp-page="/Account/View">click here </a></p>








</div>
</body>