@{
    ViewData["Title"] = "Donations Page";
}

<div class="text-center">
    <h1 class="display-4">Donations Page</h1>
    <p>Make A Donation</p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

  
</div>
