@{
    ViewData["Title"] = "Privacy Policy";
}

<body style="background-image: linear-gradient(to right top, #e57726, #ff4d43, #ff0070, #fe00aa, #c912eb);">


    <div class="text-center">
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

</div>
</body>
